.login-bg {
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-bg h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.login-bg .container-sm {
  max-width: 570px;
}
.login-bg p,
.login-bg a {
  font-size: 18px;
  color: #fff;
}
.login-bg a:hover {
  color: #0ba69d;
}
.login-bg a.underline {
  text-decoration: underline;
}
.login-bg .submit-btn {
  background: #fefffe;
  background: linear-gradient(90deg, #fefffe 0%, #c6fffd 100%);
  padding: 20px 60px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
  border: none;
  outline: none !important;
  margin: 20px 0px;
  color: #000;
}
.login-bg .submit-btn:hover {
  background: #0ba69d;
  color: #fff;
}
.login-bg .large-text {
  font-weight: bold;
  font-size: 24px;
}
.login-bg .back-arrow {
  font-size: 30px;
  margin-bottom: 30px;
  display: inline-block;
}
.login-bg .custom-label {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
.login-bg .custom-switch {
  left: -15px;
}
.login-bg .use-24 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin-bottom: 30px;
}
.login-bg .custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 3px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.login-bg .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #34c85a;
  background-color: #34c85a;
}
.login-bg
  .custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::after {
  transform: translateX(24px);
}
.login-bg .custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 50px;
  pointer-events: all;
  border-radius: 3.5rem;
  height: 25px;
}
.login-bg .timezone-listing {
  max-width: 500px;
}
.login-bg .timezone-listing li {
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  margin-bottom: 2px;
}
.login-bg .timezone-listing li .custom-control-label {
  padding-top: 2px;
  font-size: 20px;
}
.login-bg.dashboard {
  padding: 6px;
}
.login-bg.dashboard ul {
  background: #041d3c;
  padding: 60px 0px;
  max-width: 500px;
}
.login-bg.dashboard ul li {
  display: block;
  padding: 15px 40px;
  border-bottom: #394e70 solid 1px;
}
.login-bg.dashboard ul li a {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
}
.login-bg.dashboard ul li a:hover {
  color: #d56a86;
}
.login-bg.dashboard ul li p {
  color: #68799e;
  display: block;
  font-size: 18px;
  text-transform: lowercase;
}
.form-control {
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding-left: 20px;
  color: #fff !important;
}
.form-control.sm-input {
  max-width: 420px;
}
.form-control::placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-ms-input-placeholder {
  color: #fff;
}
.form-control:focus,
.form-control:active {
  background: rgba(255, 255, 255, 0.4);
  outline: #0ba69d;
}
